form.openid div.providers ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

form.openid div.providers ul.inline {
    height: 18px;
}

form.openid div.providers ul.inline li {
    float: left;
    padding: 0 0 0 4px;
}

form.openid div.providers ul.inline li div {
    cursor: pointer;
}

form.openid div.providers ul.inline li span.pattern {
    display: none;
}

form.openid dl.openid_signin input.openid_identifier {
    background: #fff url(openid.png) no-repeat 0 1px;
    padding-left: 26px;
    width: 300px
}

form.openid dl.provider_pane input.openid_username {
    border: none;
    padding: 0;
    font-weight: bold;
}

form.openid dl.provider_pane span.before,
form.openid dl.provider_pane span.after {
    color: #888;
}

form.openid dl.provider_pane span.url_line {
    border: 1px solid #ddd;
    padding: 2px;
}
