{% extends 'layout.html' %}
{% set page_title = _('Login with OpenID') %}
{% block body %}
  <h1>{{ _('Login with OpenID') }}</h1>
  <p>{% trans -%}
    Enter your OpenID URL to login.
  {%- endtrans %}
  {% call form() %}
    <dl>
      {{ form.identity_url.as_dd(class='openid') }}
    </dl>
    <script type="text/javascript">
      $('input[name=identity_url]').focus();
    </script>
    <div class="buttons">
      <input type="submit" value="{{ _('Login') }}">
    </div>
  {% endcall %}
{% endblock %}
