{% extends 'layout.html' %}
{% set page_title = _('Reset Password') %}
{% block body %}
  <h1>{{ page_title }}</h1>
  {% if new_password %}
  <p>{% trans change_url=url_for('users.edit_profile') %}
    <p>Your password was reset to <code>{{ new_password }}</code>.  Please
    make sure to <a href="{{ change_url }}">change it</a> as soon as possible.
  {% endtrans %}
  {% else %}
  <div class="explanation">{% trans %}
    <p>In order to reset your password enter either your username
       or e-mail address.  We will then send you you a link to your
       e-mail address with a link to reset the password.
  {% endtrans %}</div>
  {% call form() %}
    {{ form.as_dl() }}
    {{ form.captcha or '' }}
    <div class="buttons">
      <input type="submit" value="{{ _('Reset Password') }}">
    </div>
  {% endcall %}
  {% endif %}
{% endblock %}
